<div class="container pb-3 px-0" *ngIf="post">
    <div class="card">
        <img class="card-img-top" [src]="post.imageUrl" alt="TempPic">
        <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
            <h5 class="card-title">{{post.author.username}}</h5>
            <p>{{ post.creationDate | date }}</p>
            <p class="card-text">{{post.content}}</p>
        </div>
        <div class="card-footer text-muted d-flex">
            <button class="btn btn-secondary mr-3" *ngFor="let tag of post.tags" [id]="'tag' + tag.id">{{tag.name}}</button>
        </div>
    </div>

</div>